@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ApfelGrotezk";
  src:
    url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
    url("/fonts/ApfelGrotezk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "ApfelGrotezk";
  src:
    url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2"),
    url("/fonts/ApfelGrotezk-Fett.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@layer base {
  html {
    @apply bg-black text-white selection:bg-white selection:text-black;
  }

  a,
  button,
  input {
    @apply focus:outline-black;
  }
}
