---
import type { Item } from "~/lib/data"
import ListItem from "./ListItem.astro"

type Props = {
  items: Item[]
}

const { items } = Astro.props
---

<section>
  <ul class="mx-auto w-full max-w-3xl divide-y divide-current px-5 xs:px-8">
    {
      items.map((item) => (
        <li class="pt-4 pb-8">
          <ListItem item={item} />
        </li>
      ))
    }
  </ul>
</section>
