---
import type { Tag } from "~/lib/data"

type Props = {
  tag: Tag
}

const { tag } = Astro.props
---

<a href={tag.slug} rel="noopener noreferrer">
  <span
    class="flex min-h-[2rem] items-center justify-center rounded-full px-3 text-black"
    style={{ backgroundColor: tag.color }}
  >
    {tag.name}
  </span>
</a>
