---
import { Sprite } from 'astro-icon'

import type { Tag } from "~/lib/data"
import "~/style/index.css"

export type Props = {
  tag?: Tag
}

const { tag } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Animalia</title>
  </head>
  <body>
    <Sprite.Provider>
      <main>
        <slot />
      </main>
    </Sprite.Provider>
  </body>
</html>
